#graphical-dashboard-area {
  display: none;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow: hidden;
}
body {
  overflow-y: hidden !important;
}

.chart-section {
  width: 50vw;
  background-color: #dce7f0;
}

.chart-row {
  width: 100vw;
  justify-content: center;
}

.dashboard-heading-section {
  width: 100vw;
  background-color: #dce7f0;
}

.chart-section h3,
.dashboard-heading-section h2 {
  margin-left: 12px;
}
